@import '~antd/dist/antd.css';

#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.ant-layout {
    height: 100%;
}

.site-layout .site-layout-background {
    background: #fff;
    height: calc(100vh - 80px);
}

.ant-popover {
    max-height: 800px;
    max-width: 800px;
    overflow: auto;
}


