.execution-graph-page-header {
    height: 48px;
    border-bottom: 1px dashed #e1e1e1;
}

.execution-graph-page-header .ant-page-header {
    padding-top: 4px;
}

.execution-graph-page-stage-tabs {
    height: 48px;
    width: 100%;
    float: flex;
    flex-direction: row
}

.execution-graph-page-stage-tabs .ant-tabs-tab {
    margin: 0 0 0 0
}