.secret-var-form {
    padding: 18px;
    width: 100%;
    background: #fff;
}

.secret-list-item-icon {
    display: none;
}

.secret-list-item:hover{
    background: #e1e1e1;
}
.secret-list-item:hover .secret-list-item-icon{
    display: inline;
}